@page
@model Maintenance.Pages.TrucksModel
@{
    var estados = new[] { "Disponible", "En viaje", "Malo", "En reparacion" };
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.Trucks)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.Model</td>
                <td>@t.Brand</td>
                <td>
                    <form method="post" asp-page-handler="UpdateStatus">
                        <input type="hidden" asp-for="TruckId" value="@t.Id" />

                        <select asp-for="NewStatus"
                                class="form-select form-select-sm"
                                onchange="this.form.submit()">
                            @foreach (var e in estados)
                            {
                                <option value="@e" selected="@(e == t.Status ? "selected" : null)">
                                    @e
                                </option>
                            }
                        </select>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>